inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data-raw/*
docs/
working/*
/doc/
/Meta/
tests/testthat/Rplots.pdf
.DS_Store
CRAN-SUBMISSION
man/figures/unnamed-chunk-1-1.png
inst/tutorials/community/community_data/*
inst/tutorials/equivalence/equivalence_data/*
inst/tutorials/tutorial4/community_data/*
inst/tutorials/tutorial5/equivalence_data/*
